<div class="alert alert-info">
    <p>
        Due to their donations and support for both Hyprland and Omarchy,
        along with their poor response of wanting to
        "<a href="https://community.frame.work/t/framework-supporting-far-right-racists/75986/2">create a big tent</a>"
        when members of the community voiced their concerns, I cannot
        recommend Framework for laptops and computers.
    </p>
    <p class="mb-0">
        This notice will stay in place until Framework walks back their "big tent"
        response and publicly announce that they will not support creators,
        projects and communities that are toxic or have fascist, racist or
        other dehumanizing ideologies.
    </p>
</div>
