<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/assets/css/style.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/bootstrap-icons/font/bootstrap-icons.min.css' | relative_url }}">
<link type="application/atom+xml" rel="alternate" href="{{ '/feed.xml' | absolute_url }}" title="linhpham.org" />
<link type="application/rss+xml" rel="alternate" href="{{ '/rss.xml' | absolute_url }}" title="linhpham.org" />
<meta name="fediverse:creator" content="{{ site.author.mastodon }}">
{%- if include.page_title %}
<title>{{ include.page_title }}</title>
{%- elsif page.title and site.title -%}
<title>{{ page.title | escape }} | {{ site.title | escape }}</title>
{%- elsif page.title -%}
<title>{{ page.title | escape }}</title>
{%- elsif site.title -%}
<title>{{ site.title | escape }}</title>
{%- endif %}

{% seo title=false %}
{%- if site.apple_touch.icon -%}
<link rel="apple-touch-icon" href="{{ site.apple_touch_icon | relative_url }}">
{%- endif %}
{% if site.favicon_ico -%}
<link rel="icon" type="image/x-icon" href="{{ site.favicon_ico | relative_url }}">
{%- endif %}
{% if site.favicon_png -%}
<link rel="icon" type="image/png" href="{{ site.favicon_png | relative_url }}">
{%- endif %}
{% if site.favicon_svg -%}
<link rel="icon" type="image/svg+xml" href="{{ site.favicon_svg | relative_url }}">
{%- endif %}
{% if site.umami_analytics -%}
{%- include umami_analytics.html %}
{%- endif -%}

<script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/app-code.js' | relative_url }}"></script>
