<!DOCTYPE html>
<html lang="{{- site.lang | default: 'en-US' -}}" class="h-100">
<head>
{%- include head.html %}
{%- if page.title and site.title -%}
<title>{{ page.title | escape }} | {{ site.title | escape }}</title>
{%- elsif page.title -%}
<title>{{ page.title | escape }}</title>
{%- elsif site.title -%}
<title>{{ site.title | escape }}</title>
{%- endif %}
</head>

<body class="d-flex flex-column h-100">
    {%- include page_nav.html -%}

    <main id="page-content" class="pt-3 mt-5" data-pagefind-body>
        <div class="container-fluid p-3">
            <div id="content-body" class="mt-4 mx-4">
                <h2 class="mb-3" data-pagefind-meta="title">{{ page.title | escape }}</h2>
                {{ content }}
            </div>
        </div>
    </main>

    {%- include page_footer.html -%}
</body>

</html>
